page-details {

    ion-content{
        background-image: url('../../assets/imgs/tech.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.95;
    }


}
.c
{
    margin-top: 60%;
  
}
.i{
    background-color: rgba(0, 0, 0, 0);  
    color: aliceblue;
    border-radius: 20px;
    border-bottom:2px solid rgba(255, 255, 255, 0.781); 
    margin-top: -10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.f{
    background-color: rgba(177, 180, 187, 0.164);
    margin-top: 20px;
    border-radius: 10%;
}

.img{
    width: 200px;
    height: 150px;
    justify-content: center;
    margin-bottom: -15px;
   justify-content: center;

}
.b{
   width: 70%;

}
.b:hover{
    background-color: rgba(0, 206, 209, 0.486);
}

.i:hover{
    background-color: rgba(0, 206, 209, 0.486);
}
h1{
    font-size: 39px;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  
}

.home{
   
    text-align: center;
    align-content: center;
   
}